*.cache
obj/Debug/Shool2.csproj.AssemblyReference.cache
*.cache
.vs/Shool2/xs/project-cache/Shool2-Debug.json
.idea/.idea.Shool2.dir/.idea/projectSettingsUpdater 2.xml
.idea/.idea.Shool2.dir/.idea/workspace 2.xml
.vs/Shool2/v17/.suo 2
obj/Debug/Shool2.csproj.AssemblyReference.cache
obj/Debug/Shool2.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Shool2.csproj.CoreCompileInputs.cache
obj/Debug/Shool2.csproj.FileListAbsolute.txt
obj/Debug/Shool2.csproj.GenerateResource.cache
obj/Debug/Shool2.exe
obj/Debug/Shool2.pdb
bin/Debug/Shool2.pdb
bin/Debug/Shool2.exe
.vs/Shool2/v17/.suo
*.cache
*.exe
*.pdb
*.txt
*.cache
